* {
  margin: 0;
  padding: 0;
  /* box-sizing: border-box */
}

:root {
  --bg-backgroundFundo: #dfdfdf;
  --bg-colorButtom: #2d3436;
  --bg-colorSlider: #636e72;
  --bg-colorBorder: #bbb;
}

body {
  background: var(--bg-backgroundFundo);
}

.container {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.toogle-wrapper {
  cursor: pointer;
}

.slider {
  background: var(--bg-colorSlider);
  width: 40px;
  height: 20px;
  border: 2px solid var(--bg-colorBorder);
  border-radius: 20px;
  position: relative;
}

.button {
  background: var(--bg-colorButtom);
  border: none;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  pointer-events: none;
  position: absolute;
  top: 2px;
  left: 2px;
  transition: all 300ms ease-in-out;
}

.toogle-input:checked ~ .slider {
  background: var(--bg-colorButtom);
}

.toogle-input:checked ~ .slider > .button {
  background: var(--bg-colorSlider);
  left: 21px;
}

.toogle-input {
  display: none;
}
